@media(min-width:992px){
    .navbar{
        justify-content: space-around;
        .navbar__title{
            width: 40%;
        }
        label{
            display: none;
        } 
        input:checked + ul {
            position: sticky;
            flex-direction: row;
            justify-content: space-around;
            width: 50%;
            gap: 1rem;
            padding: 0;
            margin: 0;
            right: 0;
            height: 90px;
            z-index: 1;
            border: none;     
        } 
        ul {
            width: 55%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            right: 0;
            height: 90px;
            margin: 0;
            border: none;
            gap: 0;
        }
    }
}
@media(max-width:576px){
    .navbar__title a h1{
        font-size: 24px;
    }
     svg{
        height: 40px;
        width: 40px;
    }
}