@media(min-width:992px){
    .navbar{
        position: fixed;
        top: 0;
        .navbar__title{
            width: 40%;
        }
        label{
            display: none;
        } 
        input:checked + ul {
            width: 50%;
            margin: 0;
            right: 0;
            height: 100px;
            z-index: 1;
            border: none;
        } 
        ul {
            width: 55%;
            display: flex;
            flex-direction: row;
            right: 0;
            height: 100px;
            margin: 0;
            border: none;
        }
    }
}
@media(max-width:409px){
    .navbar__title a h1{
        font-size: 20px;
    }
    .navbar{
        height: 74px;
    }
}