// nav
.navbar{
    background-color: $colorFive;
    color: $colorThree;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__title a {
        text-decoration: none;
        color:$colorThree;
        &:hover {
            color:$colorOne;
            cursor: pointer;
        }
        h1{
            text-transform: uppercase;
            font-size: 30px;
            padding: 20px;
            margin-left: 30px; 
        }
    }
    label{
        color: $colorThree ;
        margin-right: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    input{
        display: none;
        &:checked + ul {
            background-color: $colorFive;
            display: flex;
            position: fixed;
            top: 0;
            z-index: 2;
        }
    }
    ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        width: 90vw;
        z-index: 1;
        border-top: 1px solid $colorTwo;
        border-right: 1px solid $colorTwo;
        border-bottom: 1px solid $colorTwo;
        display: none;
        margin-top: 100px;
        padding: 15px;
        li{
            list-style: none;
            font-size: 22px; 
            a{
                text-decoration: none;
                color: $colorThree; 
            }
        }
    }
}   