// nav
.navbar{
    background-color: $colorFive;
    color: $colorThree;
    width: 100%;
    height: 100px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__title a {
        text-decoration: none;
        color:$colorThree;
        &:hover {
            color:$colorOne;
            cursor: pointer;
        }
        h1{
            text-transform: uppercase;
            margin: 0;
            margin-left: 20px;
        }
    }
    label{
        color: $colorThree ;
        margin-right: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    input{
        display: none;
        &:checked + ul {
            background-color: $colorFive;
            display: flex;
            position: absolute;
            top: 0;
            z-index: 2;
            flex-direction: column;
            justify-content: flex-start;
            gap: 4rem;
            padding: 60px 0;
        }
    }
    ul{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        height: 100vh;
        width: 100%;
        border-top: 1px solid $colorTwo;
        border-right: 1px solid $colorTwo;
        border-bottom: 1px solid $colorTwo;
        display: none;
        margin-top: 100px;
        padding:0;
        li{
            list-style: none;
            font-size: 22px; 
            a{
                text-decoration: none;
                color: $colorThree; 
            }
        }
    }
}   