// variables para las fuentes en mobile & desktop
$fontTitleMobile:36px;
$fontTitleDesktp: 60px;
$fontTextMobile:30px;
$fontTextDesktop:40px; 
// variables para los colores de la web
$colorOne:#516ca9;
$colorTwo:#9cc9f5;
$colorThree:#FFFFFF;
$colorFor:#222d4f;
$colorFive:#31404a;