@import "generalPropiertes";
@import "var";
@import "nav";
@import "beforeAfter";
@import "footer";
@import "media";
@import "reset";


// debo ir a trabajar. cuando vuelva
// prometo acomodar estas propiedades en las hojas scss/import general propiertes para la 2da pre-entrega final

.title__link:hover{
    cursor: pointer;
}
.title__mobile{
    color: $colorOne;
    font-size: $fontTitleMobile ;
    font-weight: 800;
}
.text__mobile{
    color: $colorFor;
    font-size: $fontTextMobile;
    font-weight: 400;
    line-height: 2rem;
}
.container__spacing{
    margin-bottom: 60px;
    margin-top: 60px;
}
.element__spacing{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container__color{
    background-color:$colorOne;
    width: 100%;
    height: 100%;
    color: $colorThree;
}
.reverse__color{
    filter:invert(1);
}
.title__profits{
    font-size:$fontTitleMobile;
    color: $colorThree;
}
.text__profits{
    font-size: $fontTextMobile;
    color: $colorThree;
}
.title__link{
    font-size: $fontTitleMobile;
    color: $colorFor;
}