@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// variables para las fuentes en mobile & desktop
$fontTitleMobile:24px;
$fontTitleDesktp: 40px;
$fontTextMobile:18px;
$fontTextDesktop:22px; 
// variables para los colores de la web
$colorOne:#516ca9;
$colorTwo:#9cc9f5;
$colorThree:#FFFFFF;
$colorFor:#222d4f;
$colorFive:#31404a;
body{
    font-family: 'Lato', sans-serif;
    font-size: $fontTextMobile; 
    background-color: $colorThree;
}
// navbar
.navbar{
    background-color: $colorFive;
    color: $colorThree;
    width: 99vw;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__title a h1{
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
    margin-left: 30px;
}
.navbar__title a {
    text-decoration: none;
    color:$colorThree;
}
.navbar__title a:hover{
    color:$colorOne;
}
.navbar input{
    display: none;
}
.navbar label { 
    color: $colorThree ;
    margin-right: 20px;
}
.navbar label:hover{
    cursor: pointer;
}
.margin__top{
    margin-top: 100px;
}
.navbar ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 90vw;
    z-index: 1;
    border-top: 1px solid $colorTwo;
    border-right: 1px solid $colorTwo;
    border-bottom: 1px solid $colorTwo;
    display: none;
    margin-top: 100px;
}
.navbar ul li {
    list-style: none;
    font-size: 22px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.navbar input:checked + ul {
    background-color: $colorFive;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
}
@media(min-width:992px){
    .navbar{
        position: fixed;
        top: 0;
    }
    .navbar__title {
        width: 40%;
    }
    .navbar label{
        display: none;
    }   
    .navbar ul {
        width: 55%;
        display: flex;
        flex-direction: row;
        right: 0;
        height: 100px;
        margin: 0;
        border: 1px solid red;
    }
    .navbar input:checked + ul {
        border: 1px solid red;
        width: 50%;
        margin: 0;
        right: 0;
        height: 100px;
        z-index: 1;
    }
}
@media(max-width:409px){
    .navbar__title a h1{
        font-size: 20px;
    }
    .navbar{
        height: 74px;
    }
}
/* before-after */
.navbar ul li a::before,
.navbar ul li a::after
{
    content: '';
    border-bottom: 2.5px solid $colorOne;
    opacity: 0;
    position: absolute;
    transition:  .6s;

}
.navbar ul li a{
    position: relative;
}
.navbar ul li a::before{
    bottom: -5px;
    right: 0;
    width:100%;
}
.navbar ul li a::after{
    width: 90%;
    bottom: -10px;
    left: 0;
}
.navbar ul li a.activo::before,
.navbar ul li a:hover::before{
    opacity: 1;
    width: 80%;
}
.navbar ul li a.activo::after,
.navbar ul li a:hover::after{
    opacity: 1;
    width: 60%;
}
.navbar ul li a:active{
    color: $colorOne ;
}