@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
.navbar {
  background-color: #31404a;
  color: #FFFFFF;
  width: 100%;
  height: 100px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar .navbar__title a {
    text-decoration: none;
    color: #FFFFFF; }
    .navbar .navbar__title a:hover {
      color: #516ca9;
      cursor: pointer; }
    .navbar .navbar__title a h1 {
      text-transform: uppercase;
      margin: 0;
      margin-left: 20px; }
  .navbar label {
    color: #FFFFFF;
    margin-right: 20px; }
    .navbar label:hover {
      cursor: pointer; }
  .navbar input {
    display: none; }
    .navbar input:checked + ul {
      background-color: #31404a;
      display: flex;
      position: absolute;
      top: 0;
      z-index: 2;
      flex-direction: column;
      justify-content: flex-start;
      gap: 4rem;
      padding: 60px 0; }
  .navbar ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    height: 100vh;
    width: 100%;
    border-top: 1px solid #9cc9f5;
    border-right: 1px solid #9cc9f5;
    border-bottom: 1px solid #9cc9f5;
    display: none;
    margin-top: 100px;
    padding: 0; }
    .navbar ul li {
      list-style: none;
      font-size: 22px; }
      .navbar ul li a {
        text-decoration: none;
        color: #FFFFFF; }

.navbar ul li a {
  position: relative; }
  .navbar ul li a::before, .navbar ul li a::after {
    content: '';
    border-bottom: 2.5px solid #516ca9;
    opacity: 0;
    position: absolute;
    transition: .6s; }
  .navbar ul li a::before {
    bottom: -5px;
    right: 0;
    width: 100%; }
  .navbar ul li a::after {
    bottom: -10px;
    left: 0;
    width: 90%; }
  .navbar ul li a:hover::before {
    opacity: 1;
    width: 80%; }
  .navbar ul li a:hover::after {
    opacity: 1;
    width: 60%; }
  .navbar ul li a:active {
    color: #516ca9; }

.navbar ul li a.activo::before {
  opacity: 1;
  width: 80%; }

.navbar ul li a.activo::after {
  opacity: 1;
  width: 60%; }

.footer__details {
  background-color: #222d4f;
  height: 50px;
  color: #FFFFFF;
  padding: 5px;
  display: flex;
  align-items: center; }

@media (min-width: 992px) {
  .navbar {
    justify-content: space-around; }
    .navbar .navbar__title {
      width: 40%; }
    .navbar label {
      display: none; }
    .navbar input:checked + ul {
      position: sticky;
      flex-direction: row;
      justify-content: space-around;
      width: 50%;
      gap: 1rem;
      padding: 0;
      margin: 0;
      right: 0;
      height: 90px;
      z-index: 1;
      border: none; }
    .navbar ul {
      width: 55%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      right: 0;
      height: 90px;
      margin: 0;
      border: none;
      gap: 0; } }

@media (max-width: 576px) {
  .navbar__title a h1 {
    font-size: 24px; }
  svg {
    height: 40px;
    width: 40px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #FFFFFF; }

.margin__top {
  margin-top: 100px; }

.title__link:hover {
  cursor: pointer; }

.title__mobile {
  color: #516ca9;
  font-size: 26px;
  font-weight: 800; }

.text__mobile {
  color: #222d4f;
  font-size: 18px;
  font-weight: 400;
  line-height: 2rem; }

.container__spacing {
  margin-bottom: 60px;
  margin-top: 60px; }

.element__spacing {
  margin-top: 50px;
  margin-bottom: 50px; }

.container__color {
  background-color: #516ca9;
  width: 100%;
  height: 100%;
  color: #FFFFFF; }

.reverse__color {
  filter: invert(1); }

.title__profits {
  font-size: 26px;
  color: #FFFFFF; }

.text__profits {
  font-size: 18px;
  color: #FFFFFF; }

.title__link {
  font-size: 26px;
  color: #222d4f; }
